<div class="modal fade" id="Log" tabindex="-1" role="dialog" aria-labelledby="DataTransform" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Skewness removal using Log</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tips">
                    <div class="jumbotron">
                        <h5 class="text-uppercase"><i class="far fa-hand-point-right"></i> TIPS</h5>
                        <p>Log transformation is used when when skewness in your data is Positive</p>
                    </div>
                </div>

                <form id="log" method="POST" action="/data_transform">
                    <div class="select-checkbox">
                        <%if(list.numerical != "empty"){%>
                            <p class="text-left">Select the column you want apply Log:</p>
                            <input type="text" class="modal-search-Input bg-light form-control border small"
                                placeholder="Search for..." title="Type in a name" style="margin: 3px auto;width: 85% ;">
                            <ul class="modal-ul">
                                <%list.numerical.forEach(function(column,i){%>
                                <li>
                                    <label for="<%=column%>"><input type="checkbox" name="log" value='<%=column%>'
                                        id="<%=column%>" /><span style="padding-left: 10px;"><%=column%></span></label>
                                </li>
        
                                <%})%>
                            </ul>
                            <label><input type="checkbox" class="selectall" onchange="selectall(this,'log')" /><span style="padding-left: 10px;">Select All</span></label> 
                        <% } %>
                    </div>
                    

                    <% var recommended = [] ; list.skewness.forEach(function(skew,i){%>
                    <%  if(skew>=1) recommended.push(list.numerical[i]);%>
                    <%})%>

                    <%if(recommended.length){%>
                        <div class="recommendation">
                            <div class="jumbotron">
                                <h5 class="text-uppercase"><i class="far fa-hand-point-right"></i> Recommended </h5>
                                <p>We recommend you the following columns:</p>
                                <% recommended.forEach(function(val){ %> 
                                <span class="border bg-light py-1 px-2 m-1 border-dark rounded" style="display: inline-block;"> <%= val %> </span>
                                <% }) %>
                            </div>
                        </div>
                    <% } %>

                    

            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>

        </div>
    </div>
</div>