<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Begin!!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600&family=Sacramento&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/basicpage.css">
    <link rel="stylesheet" href="/css/plotgraph.css">
</head>

<body>
    <div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <div class="sidebar-header">
                    <div class="sidebar-brand">
                        <a href="#">plotify</a>
                    </div>
                </div>
                <li><a href="#" role="button" data-toggle="modal" data-target="#drop_col">Drop column</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Handle Null Values<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu animated fadeInLeft" role="menu">
                        <li><a href="#" role="button" data-toggle="modal" data-target="#drop_row">Drop rows with nan
                                values</a></li>
                        <li><a href="#" role="button" data-toggle="modal" data-target="#fill_na">Fill nan values</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Remove Outliers<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu animated fadeInLeft" role="menu">
                        <li><a href="#" role="button" data-toggle="modal" data-target="#clip_values">Clip values</a>
                        </li>
                        <li><a href="#" role="button" data-toggle="modal" data-target="#drop_outliers">Drop outliers</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Categorical Labelling<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu animated fadeInLeft" role="menu">
                        <li><a href="#" role="button" data-toggle="modal" data-target="#Encoding_Label">Encoding
                                Label</a></li>
                        <li><a href="#" role="button" data-toggle="modal" data-target="#One_Hot_Encoding">One Hot
                                Encoding</a></li>
                        <li><a href="#" role="button" data-toggle="modal" data-target="#Binary_Encoding">Binary
                                Encoding</a></li>
                    </ul>
                </li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Data Tranformation<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu animated fadeInLeft" role="menu">
                        <li><a href="#" role="button" data-toggle="modal" data-target="#Min_Max">Min-Max</a></li>
                        <li><a href="#" role="button" data-toggle="modal" data-target="#Z_Score">Z_Score</a>
                        </li>
                        <li><a href="#" role="button" data-toggle="modal" data-target="#Square_Root">Square_Root</a>
                        </li>
                        <li><a href="#" role="button" data-toggle="modal" data-target="#Cube_Root">Cube_Root</a>
                        </li>
                        <li><a href="#" role="button" data-toggle="modal" data-target="#Log">Log</a></li>
                        <li><a href="#" role="button" data-toggle="modal" data-target="#Square">Square</a></li>
                    </ul>
                </li>
                <li><a href="/pca" role="button" data-toggle="modal" data-target="#pca">Principal Component
                        Analysis</a></li>


            </ul>
        </nav>

        <div id="page-content-wrapper">
            <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <ul class="tabs" role="tablist">
                <li>
                    <input type="radio" name="tabs" id="tab1" checked />
                    <label for="tab1" id="tabl1" role="tab" aria-selected="true" aria-controls="panel1"
                        tabindex="0">Descriptive Statistic</label>
                    <div id="tab-content1" class="tab-content" role="tabpanel" aria-labelledby="description"
                        aria-hidden="false">

                        <% if (list.columns == "empty"){ %>
                        <h2>Dataframe seems to be empty</h2>
                        <% } else{%>
                        <div>
                            <p class="text-uppercase font-weight-bold" style="font-size: 20px;color: rgba(0,0,0,0.5);">
                                Data Shape</p>

                            <p style="display:inline-block;background-color: #eee;"
                                class="border rounded p-3 ml-4 pt-4 mr-4">
                                <span style="font-size: 40px;color: rgba(0,0,0,0.7);"><%= list.shape[0] %></span>
                                <span class="text-uppercase" style="color: rgba(0,0,0,0.5);">ROWS</span>
                            </p>
                            <p style="display:inline-block;background-color: #eee;"
                                class="border rounded p-3 ml-4 pt-4 mr-4">
                                <span style="font-size: 40px;color: rgba(0,0,0,0.7);"><%= list.shape[1] %></span>
                                <span class="text-uppercase" style="color: rgba(0,0,0,0.5);">COLUMNS</span>
                            </p>
                        </div>
                        <br>
                        <div>
                            <p class="text-uppercase font-weight-bold" style="font-size: 20px;color: rgba(0,0,0,0.5);">
                                General Information about data</p>
                            <div class="wrap-table100">
                                <div class="table100 border">
                                    <table>
                                        <thead>
                                            <tr class="table100-head">
                                                <th>columns</th>
                                                <% list.columns.forEach(function(col) { %>
                                                <th><%= col %></th>
                                                <% });  %>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>dtype</th>
                                                <% list.dtype.forEach(function (dt) { %>
                                                <td><%= dt %> </td>
                                                <% }); %>
                                            </tr>
                                            <tr>
                                                <th>count</th>
                                                <% list.count.forEach(function (ct) { %>
                                                <td><%= ct %> </td>
                                                <% }); %>
                                            </tr>
                                            <tr>
                                                <th>Null values</th>
                                                <% list.null_val.forEach(function (nu) { %>
                                                <td><%= nu %> </td>
                                                <% }); %>
                                            </tr>
                                            <tr>
                                                <th>Null percent</th>
                                                <% list.null_val.forEach(function (nu,i) { %>
                                                <td><%= (nu/(nu+list.count[i]))*100 %> </td>
                                                <% }); %>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <br>
                        <br>
                        <div>
                            <p class="text-uppercase font-weight-bold" style="font-size: 20px;color: rgba(0,0,0,0.5);">
                                statistical description for numerical data</p>
                            <% if (list.numerical == "empty"){ %>
                            <h6>Numerical Dataframe seems to be empty</h6>
                            <% } else{%>
                            <div class="wrap-table100">
                                <div class="table100 border">
                                    <table>
                                        <thead>
                                            <tr class="table100-head">
                                                <th>columns</th>
                                                <% list.numerical.forEach(function(col) { %>
                                                <th><%= col %></th>
                                                <% });  %>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>mean</th>
                                                <% list.mean.forEach(function (mn) { %>
                                                <td><%= mn %></td>
                                                <% }); %>
                                            </tr>
                                            <tr>
                                                <th>median</th>
                                                <% list.median.forEach(function (md) { %>
                                                <td><%= md %> </td>
                                                <% }); %>
                                            </tr>
                                            <tr>
                                                <th>min</th>
                                                <% list.minimum.forEach(function (mn) { %>
                                                <td><%= mn %></td>
                                                <% }); %>
                                            </tr>
                                            <tr>
                                                <th>max</th>
                                                <% list.maximum.forEach(function (mx) { %>
                                                <td><%= mx %> </td>
                                                <% }); %>
                                            </tr>
                                            <tr>
                                                <th>standard deviation</th>
                                                <% list.std.forEach(function (st) { %>
                                                <td><%= st %> </td>
                                                <% }); %>
                                            </tr>
                                            <tr>
                                                <th>25%</th>
                                                <% list.quant25.forEach(function (dt) { %>
                                                <td><%= dt %> </td>
                                                <% }); %>
                                            </tr>
                                            <tr>
                                                <th>50%</th>
                                                <% list.quant50.forEach(function (dt) { %>
                                                <td><%= dt %> </td>
                                                <% }); %>
                                            </tr>
                                            <tr>
                                                <th>75%</th>
                                                <% list.quant75.forEach(function (dt) { %>
                                                <td><%= dt %> </td>
                                                <% }); %>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <%}%>
                                            </div>
                                            <br>
                                            <br>
                                            <div>
                                                <p class="text-uppercase font-weight-bold" style="font-size: 20px;color: rgba(0,0,0,0.5);">statistical description for categorical data</p>
                                                <% if (list.categorical == "empty"){ %>
                            <h6>Categorical Dataframe seems to be empty</h6>
                            <% } else{%>
                            <div class="wrap-table100">
                                <div class="table100 border">
                                    <table>
                                        <thead>
                                            <tr class="table100-head">
                                                <th>columns</th>
                                                <% list.categorical.forEach(function(col) { %>
                                                <th><%= col %></th>
                                                <% });  %>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>unique</th>
                                                <% list.unique.forEach(function (dt) { %>
                                                <td><%= dt %> </td>
                                                <% }); %>
                                            </tr>
                                            <tr>
                                                <th>top</th>
                                                <% list.top.forEach(function (dt) { %>
                                                <td><%= dt %> </td>
                                                <% }); %>
                                            </tr>
                                            <tr>
                                                <th>frequency</th>
                                                <% list.freq.forEach(function (dt) { %>
                                                <td><%= dt %> </td>
                                                <% }); %>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <%}%>        
                                            </div>                                           
                                        <% } %>
                        </div>
                </li>

                <li>
                    <input type="radio" name="tabs" id="tab2" />
                    <label for="tab2" id="tabl2" role="tab" aria-selected="false" aria-controls="panel2"
                        tabindex="0">Univariate Graph</label>
                    <div id="tab-content2" class="tab-content" role="tabpanel" aria-labelledby="specification"
                        aria-hidden="true">
                        <%- include('plot_graph.ejs'); %>
                    </div>
                </li>

                <li>
                    <input type="radio" name="tabs" id="tab3" />
                    <label for="tab3" id="tabl3" role="tab" aria-selected="false" aria-controls="panel3"
                        tabindex="0">Multivariate Graph</label>
                    <div id="tab-content3" class="tab-content" role="tabpanel" aria-labelledby="specification"
                        aria-hidden="true">


                        <form id="corrMat" method="POST">
                            <h1>Correlation Matrix</h1>
                            <% list.numerical.forEach(function(column){%>
                            <input type="checkbox" name="corrColumn" value='<%=column%>'><%=column%></input>
                            <%})%>
                            <input type="checkbox" class="selectall" onchange="selectall(this,'corrColumn')">Select
                            All</input>
                            <button type="submit" onclick="corrSub(event)">Submit</button>
                            <br>

                        </form>

                        <div class="main">
                            <div id="corrGraph" style="width:800px;height:400px;"></div>
                        </div>


                    </div>
                </li>
                <li>
                    <input type="radio" name="tabs" id="tab4" />
                    <label for="tab4" id="tabl4" role="tab" aria-selected="false" aria-controls="panel4"
                        tabindex="0">View Raw Data</label>
                    <div id="tab-content4" class="tab-content" role="tabpanel" aria-labelledby="specification"
                        aria-hidden="true" >
                        <div>
                            <form action="/download" method="GET">
                                <button type="submit">Download</button>
                            </form>
                        </div>
                        <div class="wrap-table100">
                            <div class="table100 border">
                                <table>
                                    <thead>
                                        <tr class="table100-head">
                                            <% head.forEach(function(col) { %>
                                            <th><%= col %></th>
                                            <% });  %>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% data.forEach(function(row){ %>
                                            <tr>
                                                <% row.forEach(function(ele){ %>
                                                    <td><%=ele%></td>
                                                <% }) %>
                                            </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
        </div>


    </div>


    </div>



    <!--fill nan Modal -->
    <div class="modal fade" id="fill_na" tabindex="-1" role="dialog" aria-labelledby="drop_col" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Fill nan values</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="radio" name="mode" value="categorical" onclick="check_cat()"> categorical
                    <input type="radio" name="mode" value="numerical" onclick="check_num()"> Numerical
                    <div id="categorical">

                        <% if(list.categorical != "empty") {%>
                        <form action="/fill_nan" method="POST">
                            <h3>Categorical Column</h3>
                            <select name="column" id="">
                                <option value="" selected>Select</option>
                                <% list.categorical.forEach(function(cat){ %>
                                <option value="<%=cat%>"><%=cat%></option>
                                <% }) %>
                            </select>
                            <select name="method" id="">
                                <option value="" selected>Select</option>
                                <option value="top">Top Class</option>
                                <option value="unk">Unknown Class</option>
                            </select>
                            <button type="submit" name="col_type" value="cat">Submit</button>
                        </form>
                        <% } %>
                    </div>
                    <div id="numerical">
                        <form action="/fill_nan" method="POST" id="form">
                            <h3>Numerical Column</h3>
                            <select name="column" id="">
                                <option value="" selected>Select</option>
                                <% list.numerical.forEach(function(cat){ %>
                                <option value="<%=cat%>"><%=cat%></option>
                                <% }) %>
                            </select>
                            <select name="method" id="">
                                <option value="" selected>Select</option>
                                <option value="zero">Fill zeros</option>
                                <option value="mean">Fill mean</option>
                                <option value="median">Fill median</option>
                                <option value="min">Fill minimum</option>
                                <option value="max">Fill maximum</option>
                                <option value="b_fill">Backward Fill</option>
                                <option value="f_fill">Forward Fill</option>
                            </select>
                            <button type="submit" name="col_type" value="num">Submit</button>
                        </form>
                        <script>
                            document.getElementById("categorical").style.visibility = "hidden";
                            document.getElementById("numerical").style.visibility = "hidden";

                            function check_cat() {
                                document.getElementById("form").reset();
                                document.getElementById("numerical").style.visibility = "hidden";
                                document.getElementById("categorical").style.visibility = "visible";
                            }

                            function check_num() {
                                document.getElementById("form").reset();
                                document.getElementById("categorical").style.visibility = "hidden";
                                document.getElementById("numerical").style.visibility = "visible";
                            }
                        </script>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!--drop rows Modal -->
    <div class="modal fade" id="drop_row" tabindex="-1" role="dialog" aria-labelledby="drop_col" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Drop rows</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/drop_rows" method="POST">
                        <h1>Drop rows with NA values</h1>
                        <h4>tips</h4>
                        <p>First drop the columns with high percentage on na values else your dataframe would result
                            with high loss of data.</p>
                        <br>
                        <label for="">Mode: </label>
                        <input type="radio" name="mode" id="" value="all">All <br>
                        <input type="radio" name="mode" id="" value="specific">Specific <br>
                        <h2>Select specific columns of a row for which nan will be checked</h2>
                        <input type="text" class="modal-search-Input bg-light form-control border small col-4" placeholder="Search for..." title="Type in a name">
                        <ul class="modal-ul">
                            <% list.columns.forEach(function (col,i) { %>
                            <li>
                                <label><input type="checkbox" name="subset" id="" value="<%=col%>"> <%=col%></label>
                                <p><span>Nan percent: <%=list.null_val[i]/(list.null_val[i]+list.count[i])*100%></span>
                                </p>
                            </li>
                            <% }) %>


                        </ul>

                        <button type="submit">Submit</button>
                    </form>
                    <script>

                    </script>
                </div>

            </div>
        </div>
    </div>

    <!--drop column Modal -->
    <div class="modal fade" id="drop_col" tabindex="-1" role="dialog" aria-labelledby="drop_col" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Drop Columns</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Tips:</h4>
                    <p>Drop columns with max nan values or high nan percent</p>
                    <form action="/drop_columns" method="POST">
                        <input type="text" class="modal-search-Input bg-light form-control border small col-4" placeholder="Search for..." title="Type in a name">
                        <ul class="modal-ul">
                            <% list.columns.forEach(function(col,i){ %>

                            <li>
                                <label for="<%=col%>"><input type="checkbox" name="drop_col" value="<%=col%>"
                                        id="<%=col%>"><%=col%></label>
                                <p><span>NAN percent : <%=list.null_val[i]/(list.null_val[i]+list.count[i])*100%></span>
                                </p>
                            </li>

                            <% }); %>
                        </ul>
                        <button type="submit"> drop_col </button>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <!--clip_values Modal -->
    <div class="modal fade" id="clip_values" tabindex="-1" role="dialog" aria-labelledby="drop_col" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Clip values</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/clip_values" method="POST">
                        <h1>Clip values</h1>
                        <label for="">Min threshold</label>
                        <input type="number" name="minthresh" id="">
                        <label for="">Max threshold</label>
                        <input type="number" name="maxthresh" id="">
                        <select name="col" id="">
                            <% list.numerical.forEach(function(num) { %>
                            <option value="<%=num%>"><%=num%></option>
                            <% }) %>
                        </select>
                        <br>
                        <button type="submit">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!--drop r outlier Modal -->
    <div class="modal fade" id="drop_outliers" tabindex="-1" role="dialog" aria-labelledby="drop_col"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Drop outliers</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/remove_outlier" method="POST">
                        <label for="">Z threshold value: </label>
                        <input type="number" name="thresh" id="">
                        <button type="submit">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>



    <!--Categorical Labelling Modal -->

    <!--Encoding Labels Modal -->
    <div class="modal fade" id="Encoding_Label" tabindex="-1" role="dialog" aria-labelledby="labelling"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Categorical Labelling Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="catLabels" method="POST" action="/categorical_labelling">
                        <h1>Encoding Labels</h1>
                        <%if(list.categorical != "empty"){%>
                            <input type="text" class="modal-search-Input bg-light form-control border small col-4" placeholder="Search for..." title="Type in a name">
                            <ul class="modal-ul">
                                    <%list.categorical.forEach(function(column){%>
                                        <li>
                                            <label for="<%=column%>"><input type="checkbox" id='<%=column%>' name="encodingLabel"
                                                value='<%=column%>'></input><%=column%></label>
                                        </li>
                                    
                                    <%})%>
                            </ul>
                        <% } %>
                        <br>
                        <input type="checkbox" class="selectall" onchange="selectall(this,'encodingLabel')">Select
                        All</input>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>


    <!--One Hot Encoding Modal -->
    <div class="modal fade" id="One_Hot_Encoding" tabindex="-1" role="dialog" aria-labelledby="labelling"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Categorical Labelling Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="catLabels" method="POST" action="/categorical_labelling">
                        <%if(list.categorical != "empty"){%>
                            <h1>One Hot Encoding</h1>
                            <input type="text" class="modal-search-Input bg-light form-control border small col-4" placeholder="Search for..." title="Type in a name">
                            <ul class="modal-ul">
                                <% list.categorical.forEach(function(column){%>
                                    <li>
                                        <label for="<%=column%>"><input type="checkbox" id='<%=column%>' name="oneHotEncoding"
                                            value='<%=column%>'></input><%=column%></label>
                                    </li>
                                    
                                <%})%>
                            </ul>
                        <% } %>

                        <br>
                        <input type="checkbox" class="selectall" onchange="selectall(this,'oneHotEncoding')">Select
                        All</input>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>


    <!--Binary Encoding Modal -->
    <div class="modal fade" id="Binary_Encoding" tabindex="-1" role="dialog" aria-labelledby="labelling"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Categorical Labelling Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="catLabels" method="POST" action="/categorical_labelling">
                        <%if(list.categorical != "empty"){%>
                            <h1>Binary Encoding</h1>
                            <input type="text" class="modal-search-Input bg-light form-control border small col-4" placeholder="Search for..." title="Type in a name">
                            <ul class="modal-ul">
                                <% list.categorical.forEach(function(column){%>
                                    <li>
                                        <label for="<%=column%>"><input type="checkbox" name="binaryEncoding" value='<%=column%>' id="<%=column%>"></input><%=column%></label>
                                    </li>
                                <%})%>
                            </ul>
                        <% } %>
                        <br>
                        <input type="checkbox" class="selectall" onchange="selectall(this,'min-max')">Select
                        All</input>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        <br>
                    </form>

                </div>

            </div>
        </div>
    </div>


    <!--Z-Score Modal -->
    <div class="modal fade" id="Z_Score" tabindex="-1" role="dialog" aria-labelledby="DataTransform" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Data Transform Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="z-score" method="POST" action="/data_transform">
                        <%if(list.numerical != "empty"){%>
                        <h1>Z-Score</h1>
                        <% list.numerical.forEach(function(column){%>
                        <input type="checkbox" name="z-score" value='<%=column%>'><%=column%></input>
                        <%})%>
                        <% } %>
                        <br>
                        <input type="checkbox" class="selectall" onchange="selectall(this,'z-score')">Select
                        All</input>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                        <br>
                    </form>

                </div>

            </div>
        </div>
    </div>



    <!--Square-Root Modal -->
    <div class="modal fade" id="Square_Root" tabindex="-1" role="dialog" aria-labelledby="DataTransform"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Data Transform Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="square-root" method="POST" action="/data_transform">
                        <%if(list.numerical != "empty"){%>
                        <h1>Square-Root</h1>
                        <% list.numerical.forEach(function(column){%>
                        <input type="checkbox" name="square-root" value='<%=column%>'><%=column%></input>
                        <%})%>
                        <% } %>
                        <br>
                        <input type="checkbox" class="selectall" onchange="selectall(this,'square-root')">Select
                        All</input>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                        <br>
                    </form>

                </div>

            </div>
        </div>
    </div>


    <!--Cube-Root Modal -->
    <div class="modal fade" id="Cube_Root" tabindex="-1" role="dialog" aria-labelledby="DataTransform"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Data Transform Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="cube-root" method="POST" action="/data_transform">
                        <%if(list.numerical != "empty"){%>
                        <h1>Cube-Root</h1>
                        <% list.numerical.forEach(function(column){%>
                        <input type="checkbox" name="cube-root" value='<%=column%>'><%=column%></input>
                        <%})%>
                        <% } %>
                        <br>
                        <input type="checkbox" class="selectall" onchange="selectall(this,'cube-root')">Select
                        All</input>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                        <br>
                    </form>

                </div>

            </div>
        </div>
    </div>


    <!--Log Modal -->
    <div class="modal fade" id="Log" tabindex="-1" role="dialog" aria-labelledby="DataTransform" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Data Transform Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="log" method="POST" action="/data_transform">
                        <%if(list.numerical != "empty"){%>
                        <h1>Log</h1>
                        <% list.numerical.forEach(function(column){%>
                        <input type="checkbox" name="log" value='<%=column%>'><%=column%></input>
                        <%})%>
                        <% } %>
                        <br>
                        <input type="checkbox" class="selectall" onchange="selectall(this,'log')">Select
                        All</input>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                        <br>
                    </form>

                </div>

            </div>
        </div>
    </div>




    <!--Square Modal -->
    <div class="modal fade" id="Square" tabindex="-1" role="dialog" aria-labelledby="DataTransform" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Data Transform Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="square" method="POST" action="/data_transform">
                        <%if(list.numerical != "empty"){%>
                        <h1>Square</h1>
                        <% list.numerical.forEach(function(column){%>
                        <input type="checkbox" name="square" value='<%=column%>'><%=column%></input>
                        <%})%>
                        <% } %>
                        <br>
                        <input type="checkbox" class="selectall" onchange="selectall(this,'square')">Select
                        All</input>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                        <br>
                    </form>

                </div>

            </div>
        </div>
    </div>


    <!--PCA Modal -->
    <div class="modal fade" id="pca" tabindex="-1" role="dialog" aria-labelledby="pca" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Correlation Matrix Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <button onclick="run()">Run</button>

                    <P style="color: red;">*IF YOU RUN pca ALL YOUR CATEGORICAL COLUMN WILL BE DELETED IF THERE IS
                        ANY*
                    </P>

                    <div class="main">
                        <div id="pcaGraph" style="width:800px;height:300px;"></div>
                    </div>
                    <div id="pcaDiv" style="display: none;">
                        <form id="pcaForm" action="/drop_columns" method="POST">
                            <h1>Columns To Remove</h1>
                            <% list.numerical.forEach(function(column,i){%>
                            <input type="checkbox" id='PC<%=i+1%>' name="pca" value='PC<%=i+1%>'>PC<%=i+1%></input>
                            <%})%>
                            <br>
                            <input type="checkbox" class="selectall" onchange="selectall(this,'pca')">Select
                            All</input>
                            <br>
                            <button type="submit">Submit</button>
                        </form>

                    </div>


                </div>

            </div>
        </div>
    </div>



</body>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.11/jquery.csv.min.js"
    integrity="sha512-Y8iWYJDo6HiTo5xtml1g4QqHtl/PO1w+dmUpQfQSOTqKNsMhExfyPN2ncNAe9JuJUSKzwK/b6oaNPop4MXzkwg=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
<script>
    let fileName = '<%-fileName%>';
    let shape = '<%-list.shape%>';
    let numericalData = '<%-list.numerical%>';
    let categoricalData = '<%-list.categorical%>';
</script>
<script src="/plotGraph.js"></script>

<script src="/js/basicpage.js">

</script>

</html>