<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div>
        

        <form id="catLabels" method="POST">
            <h1>Encoding Labels</h1>
            <% categoricalData.forEach(function(column){%>
                <input type="radio" id='<%=column%>' name="encodingLabel" value='<%=column%>'><%=column%></input>
            <%})%>
            <br>
            <h1>One Hot Encoding</h1>
            <% categoricalData.forEach(function(column){%>
                <input type="radio" id='<%=column%>' name="oneHotEncoding" value='<%=column%>'><%=column%></input>
            <%})%>
            <br>
            <h1>Binary Encoding</h1>
            <% categoricalData.forEach(function(column){%>
                <input type="radio" id='<%=column%>' name="binaryEncoding" value='<%=column%>'><%=column%></input>
            <%})%>
            <br>
            <button type="submit">Submit</button>
        </form>

        
        <br>
        <br>
        <br>

        <div id="result"></div>



    </div>


</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $('input[type=radio]').change(function() {
        // When any radio button on the page is selected,
        // then deselect all other radio buttons.
        $('input[type=radio]:checked').not(this).prop('checked', false);
    });
    // function sub(event) {
    //     event.preventDefault();
    //     console.log(event)
    //     var column = $("input:checked").val();
    //     var type = $("input:checked").attr("name");

    //     $.ajax({
    //         url: '/categorical_labeling',
    //         type: 'post',
    //         data: {
    //             column: column,
    //             type: type,
    //         },
    //         success: function (response) {
    //             console.log(response.uniqueValues);
    //             response = JSON.stringify(response.uniqueValues);
    //             $("#result").html(response);
    //         }
    //     });



    // }
</script>




</html>