
<div class="plot_graph">
    <div id="topPanel" class="toppanel">
        <form id="dataForm">
            <% if (list.numerical != "empty"){ %>
            <input type="radio" value='Numerical' id="numerical" name="dataType" onclick="dataClick()" />
            <label for="numerical">Numerical</label>
            <% } %>
            <% if (list.categorical != "empty"){ %>
            <input type="radio" value='Categorical' id="categorical" name="dataType" onclick="dataClick()" />
            <label for="categorical">categorical</label>
            <% } %>
        </form>
    </div>

    <div id="leftPanel" class="leftpanel">
        <form>
            <div id="numColumnForm">
                <% if (list.numerical != "empty"){ %>

                <%list.numerical.forEach(function(item){%>
                <p>
                    <input type="radio" value='<%=item%>' id="<%=item%>" name="column" class="column"
                        onclick="columnClick(this.value)"></input>
                    <label for="<%=item%>"><%=item%></label>
                </p>
                <%})%>

                <% } %>
            </div>



            <div id="catColumnForm" style="display: none;">
                <% if (list.categorical != "empty"){ %>

                <%list.categorical.forEach(function(item){%>
                <p>
                    <input type="radio" value='<%=item%>' id="<%=item%>" name="column" class="column"
                        onclick="columnClick(this.value)"><%=item%></input>
                        <label for="<%=item%>"><%=item%></label>
                </p>

                <%})%>
                <% } %>
            </div>
        </form>
    </div>

    <br><br>
    <div id="rightPanel" class="rightpanel">
        <form>
            <div id="numGraphForm">
                <% if (list.numerical != "empty"){ %>

                <p><input type="radio" value='histogram' name="type" id="histogram" onclick="typeClick(this.value)"
                        checked></input>
                    <label for="histogram">Histogram</label>    
                </p>

                <p><input type="radio" value='box' name="type" id="boxplot" onclick="typeClick(this.value)"></input>
                    <label for="boxplot">Box Plot</label>
                </p>

                <% } %>
            </div>

            <div id="catGraphForm" style="display: none;">
                <% if (list.categorical != "empty"){ %>

                <p><input type="radio" value='bar' name="type" id="bar" onclick="typeClick(this.value)" checked></input>
                    <label for="bar">Bar</label>
                </p>
                <p><input type="radio" value='pie' name="type" id="pie" onclick="typeClick(this.value)"></input>
                    <label for="pie">Pie Chart</label>
                </p>

                <% } %>
            </div>
        </form>
    </div>

    <div class="main">
        <div id="myDiv" style="width:800px;height:500px;"></div>
    </div>

</div>