
<div id="tab-content5" class="tab-content" role="tabpanel" aria-labelledby="description" aria-hidden="false">
    <div style="display: none;" class="0">
        <%- include('../tutorials/tutorial0.ejs'); %>
        <button onclick="location.href='/'" class="btn btn-lg">Home</button>
        <button class="page-forward" id="0">Get Started</button>
    </div>

    <div style="display: none;" class="1">
        <%- include('../tutorials/tutorial1.ejs'); %>
        <button class="page-backward" id="1">Previous</button>
        <button class="page-forward" id="1">Next</button>
    </div>

    <div style="display: none;" class="2">
        <%- include('../tutorials/tutorial2.ejs'); %>
        <button class="page-backward" id="2">Previous</button>
        <button class="page-forward" id="2">Next</button>
    </div>

    <div style="display: none;" class="3">
        <%- include('../tutorials/tutorial3.ejs'); %>
        <button class="page-backward" id="3">Previous</button>
        <button class="page-forward" id="3">Next</button>
    </div>

    <div style="display: none;" class="4">
        <%- include('../tutorials/tutorial4.ejs'); %>
        <button class="page-backward" id="4">Previous</button>
        <button class="page-forward" id="4">Next</button>
    </div>

    <div style="display: none;" class="5">
        <%- include('../tutorials/tutorial2-0.ejs'); %>
        <button class="page-backward" id="5">Previous</button>
        <button class="page-forward" id="5">Next</button>
    </div>

    <div style="display: none;" class="6">
        <%- include('../tutorials/tutorial2-1.ejs'); %>
        <button class="page-backward" id="6">Previous</button>
        <button class="page-forward" id="6">Next</button>
    </div>

    <div style="display: none;" class="7">
        <%- include('../tutorials/tutorial2-2.ejs'); %>
        <button class="page-backward" id="7">Previous</button>
        <button class="page-forward" id="7">Next</button>
    </div>

    <div style="display: none;" class="8">
        <%- include('../tutorials/tutorial2-3.ejs'); %>
        <button class="page-backward" id="8">Previous</button>
        <button class="page-forward" id="8">Next</button>
    </div>

    <div style="display: none;" class="9">
        <%- include('../tutorials/tutorial2-4.ejs'); %>
        <button class="page-backward" id="9">Previous</button>
        <button class="page-forward" id="9">Next</button>
    </div>

    <div style="display: none;" class="10">
        <%- include('../tutorials/tutorial2-5.ejs'); %>
        <button class="page-backward" id="10">Previous</button>
        <button class="page-forward" id="10">Next</button>
    </div>

    <div style="display: none;" class="11">
        <%- include('../tutorials/tutorial2-6.ejs'); %>
        <button class="page-backward" id="11">Previous</button>
    </div>
</div>

